[mysqld]
# General
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8
myisam_recover_options = BACKUP
max_connections = 100
table_open_cache = 64
skip_name_resolve
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 

# Data Storage
datadir=/var/lib/mysql

# InnoDB
innodb_flush_method = O_DIRECT
innodb_log_files_in_group = 2
innodb_log_file_size = 128M
# 1 - each commit, 2 - through system buffer, 0 - detached
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1
innodb_buffer_pool_size = 256M

# Logging
log_error = /var/log/mysql/error.log
log_queries_not_using_indexes = 1
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
